body {font-family: Arial, sans-serif; color: #00ff00; background-color: black; background-image: url(../images/bg.jpg);}

#shell {width: 380px; margin: 60px auto; text-align: center;}
h1, .areaTitle, div.radio {color: #ffffff; text-shadow: 0px 2px 7px #164441;}
.areaTitle {margin-top: 10px; text-align: left; font-size: 20px;}
#objectList, #output {width: 360px; margin-top: 5px; min-height: 18px; padding: 10px; text-align: left; border: solid 2px #707070; background-color: #000000; border-radius: 10px;}
div.radio {margin: 10px auto; font-weight: 700;}
button {margin: 0 18px; width: 200px; font-size: 18px; padding: 6px; border-radius: 8px; font-weight: 600; cursor: pointer;
    color: #000000; background-color: #ffffff; transition: color ease-in-out 0.3s;}
button:hover {color: #00ff00;}
